<!--  
Adapted from https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API/Tutorial/Basic_usage
Introduction to graphics on canvas

NOTE: to open this file use the VSC Live Server Extension
      because You cannot use a script file as a module without using a server.
		<script defer type="module" src="rectangle-client.js"></script>
-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Index</title>
		<link rel="stylesheet" href="styles.css">
		<script type="module" defer src="view.js"></script>
  </head>
  <body>
	  <h1>Daniel David Sarmiento Barrera Graphic Calculator</h1>
    <ul>
      <li><a href="daniel-sarmiento-graphic-calculator.html">Daniel David Sarmiento Barrera</a></li>
      <li><a href="docs/index.html">Documentación</a></li>
      <li><a href="UML.html">Gráfico UML</a></li>
    </ul>
  </body>
</html>